@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.introduction {
  height: 100vh;
  width: 100%;
  background-image: url("../img/Tlo glowne.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.introduction .navbar-nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.introduction .navbar-nav .nav-link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 4rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: white;
}

.introduction .navbar-nav .navbar-brand .logoPC {
  height: 8rem;
}

.introduction .box {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.introduction .box .title h1 {
  text-align: center;
  font-size: 6rem;
  color: #4f5051;
}

.introduction .box .title h1 .group-1 {
  -webkit-animation: color 6s infinite;
          animation: color 6s infinite;
}

.introduction .box .title h1 .group-2 {
  -webkit-animation: color 6s infinite;
          animation: color 6s infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.introduction .company-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25%;
}

.introduction .company-name .company-name-box {
  text-align: center;
}

.introduction .company-name .company-name-box h2 {
  margin: 2rem 0;
  font-size: 4rem;
}

.introduction .company-name .company-name-box img {
  height: 0.5rem;
}

.introduction .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction .arrow img {
  height: 3rem;
}

.introduction .arrow .arrow_aniamtion {
  -webkit-animation: bounce 3s infinite;
          animation: bounce 3s infinite;
}
/*# sourceMappingURL=main.css.map */